$social: (
	'facebook': #3b5998,
	'twitter': #55acee,
	'linkedin': #0077b5
);

@each $brand, $tint in $social {
  .tab-#{$brand} {
    background-image: url('/common/img/png/icon_#{$brand}-inactive.png');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100%;
		
		&.selected {
			background-image: url('/common/img/png/icon_#{$brand}-active.png');
			background-color: $tint;
		}
  }
}