@function extend($obj, $ext-obj) {
 @return map-merge($obj, $ext-obj); 
}

$padding: 20px;
$margin: 20px;

@mixin card($conf: ()) {
  $conf: extend((
    name: module,
    shadow: 0 3px 4px 1px,
    theme: light,
    spacing: false,
    bgcolor: #fafafa
  ), $conf);
  
  $name: map-get($conf, name);
  $theme: map-get($conf, theme);
  $spacing: map-get($conf, spacing);
  
  @if $name == "module" {
    padding: $padding/2;
  }
  
  @if $theme == "dark" {
    box-shadow: map-get($conf, shadow) rgba(45, 45, 45, 0.8);
    color: #eee;
  }
  @else {
    box-shadow: map-get($conf, shadow) rgba(89, 89, 89, 0.5);
  }
  background-color: map-get($conf, bgcolor);
	
	@if $spacing {
	    & + & {
	  		margin-top: $margin;
	  	} 
	}
}

.card {
  @include card(( spacing: true ));
}

.course-search {
  @include card(( theme: dark, bgcolor: #bada55 ));
}

.sub-navigation {
  @include card(( name: navigation, theme: dark, bgcolor: #444 ));
}

.navigation {
  @include card(( name: navigation ));
}

.button {
  @include card(( name: button, bgcolor: white ));
  font-family: 'DIN', 'Trebuchet MS', sans-serif;
}