// - - - - - - - - - - responsive mixins - - - - - - - - - - //

// combination of z-index property map gist: http://thesassway.com/intermediate/responsive-web-design-in-sass-using-media-queries-in-sass-32
// and sass-bsed IE mixins: http://jakearchibald.github.io/sass-ie/
//
// widths:
// mobile-skinny: 20em / 320px
// mobile-wide: 30em / 480px
// tablet: 45em / 720px
// desktop: 60em / 960px
// superwide: 75em / 1200px

$fix-mqs: false !default; 		// set for maximum media query width to use
$old-ie: false !default; 		// set to incopropate all IE-based hacks

// $breakpoints: (
//   default: (
//     mobile-skinny: 20em,
//     mobile-wide: 30em,
//     tablet: 45em,
//     desktop: 60em,
//     superwide: 68em,
//     maximum: 75em
//   )
// );

$breakpoints: (
  default: (
    mobile-skinny: ($mobile-skinny, 20em),
    mobile-wide: ($mobile-wide, 30em),
    tablet: ($tablet, 45em),
    desktop: ($desktop, 60em),
    superwide: ($superwide, 68em),
    maximum: ($maximum, 75em)
  )
);

@mixin respond-to($width, $type: default, $array: $breakpoints) {
  @if map-has-key($breakpoints, $type) {
    @if map-has-key(map-get($breakpoints, $type), $width) {
    	$obj: map-get(map-get($breakpoints, $type), $width);
      @if $fix-mqs {
        @if $fix-mqs >= nth($obj, 2) {
          @content;
        }
      } @else {
        // @media screen and (min-width: map-get(map-get($breakpoints, $type), $width)) { 		// Custom media queries declaration
        // @include media(min-width map-get(map-get($breakpoints, $type), $width)) { 			    // uses Bourbon Neat's @include
        @include media(nth($obj, 1)) { 															                          // uses Bourbon Neat's @include and new-breakpoint()
          @content;
        }
      }
    } @else {
      @warn 'There is no element "#{$name}" in the widths map.'
    }
  } @else {
    @warn 'The desired type "#{$type}" is not available, please add it to the map or specify another.'
  }
}

@mixin old-ie {
	@if $old-ie {
		@content;
	}
}