// @function extend($obj, $ext-obj) {
// @return map-merge($obj, $ext-obj); 
// }

// @function fetchmap($map, $option: 'base') {
// 	@return map-get($map, $option);
// }

$breakpoints: (
  'mobile-skinny': 20em,
  'mobile-wide': 30em,
  'tablet': 45em,
  'desktop': 60em,
  'superwide': 68em,
  'maximum': 75em
);

@mixin fontsize($f) {
  
  @function recalculate($size, $viewport) {
    $base: map-get($sizes, 'base');
    $font: map-get($sizes, $size);
    //$scale: map-get($breakpoints, $target);
    $scale: $viewport;
    @return (($font * $scale) / $base) * 1em;
  };
  
  $sizes: (
    'base': 16,
    'h6': 16,
    'h5': 18.7,
    'h4': 21.3,
    'h3': 24,
    'h2': 28,
    'h1': 32
  );
  
  $factors: (
    'mobile-skinny': 1,
    'mobile-wide': 1,
    'tablet': 1.125,
    'desktop': 1.125,
    'superwide': 1.25,
    'maximum': 1.25
  );
  
  //font-size: recalculate($f, $s);
  
  @each $v, $s in $factors {
    $bp: map-get($breakpoints, $v);
    @media screen and (min-width: $bp) {
     font-size: recalculate($f, $s); 
    }
  }
}

.column {
  @include fontsize('h6');
}

// ver2 ----------------------------------//

// @function extend($obj, $ext-obj) {
// @return map-merge($obj, $ext-obj); 
// }

// @function fetchmap($map, $option: 'base') {
//  @return map-get($map, $option);
// }

$breakpoints: (
  'mobile-skinny': 20em,
  'mobile-wide': 30em,
  'tablet': 45em,
  'desktop': 60em,
  'superwide': 68em,
  'maximum': 75em
);

@mixin fontsize($f) {
  @function recalculate($size, $viewport) {
    $base: map-get($sizes, 'base');
    $font: map-get($sizes, $size);
    //$scale: map-get($breakpoints, $target);
    $scale: $viewport;
    @return (($font * $scale) / $base) * 1em;
  };
  $sizes: (
    'base': 16,
    'h6': 16,
    'h5': 18.7,
    'h4': 21.3,
    'h3': 24,
    'h2': 28,
    'h1': 32
  );
  $factors: (
    'mobile-skinny': (1, 1.8),
    'mobile-wide': (1 1.8),
    'tablet': (1.125, 1.7),
    'desktop': (1.125, 1.65),
    'superwide': (1.25, 1.65),
    'maximum': (1.25, 1.65)
  );
  @each $viewport, $data in $factors {
      $bp: map-get($breakpoints, $viewport);
      @media screen and (min-width: $bp) {
        font-size: recalculate($f, nth($data, 1));
        line-height: nth($data, 2);
      }
  }
}

.column {
  @include fontsize('h1');
}

// ver3 ----------------------------------//

// @function extend($obj, $ext-obj) {
// @return map-merge($obj, $ext-obj); 
// }

// @function fetchmap($map, $option: 'base') {
//  @return map-get($map, $option);
// }

$breakpoints: (
  'mobile-skinny': 20em,
  'mobile-wide': 30em,
  'tablet': 45em,
  'desktop': 60em,
  'superwide': 68em,
  'maximum': 75em
);

@mixin fontsize($f, $lh: false) {
  @function recalculate($size, $viewport) {
    $base: map-get($sizes, 'base');
    $font: map-get($sizes, $size);
    //$scale: map-get($breakpoints, $target);
    $scale: $viewport;
    @return (($font * $scale) / $base) * 1em;
  };
  $sizes: (
    'base': 16,
    'h6': 16,
    'h5': 18.7,
    'h4': 21.3,
    'h3': 24,
    'h2': 28,
    'h1': 32
  );
  $factors: (
    'mobile-skinny': 1,
    'mobile-wide': 1,
    'tablet': 1.125,
    'desktop': 1.125,
    'superwide': 1.25,
    'maximum': 1.25
  );
  $lineheights: (
    'mobile-skinny': 1.8,
    'mobile-wide': 1.8,
    'tablet': 1.7,
    'desktop': 1.65,
    'superwide': 1.65,
    'maximum': 1.65
  );
  @each $v, $data in $factors {
    $bp: map-get($breakpoints, $v);
    @media screen and (min-width: $bp) {
      font-size: recalculate($f, $data);
      @if $lh {
        line-height: map-get($lineheights, $v);
      }
    }
  }
}

.column {
  @include fontsize('h6');
}