@import "bourbon"; // Bourbon framework for Sass

@import "base/config"; // Default site-wide variables and mixins, must set to control theme
@import "base/functions"; // Default site-wide variables and mixins, must set to control theme

@function check-bg($check) {
	@if $check == '' {
		@return url('sass/_assets/undefined.jpg');
	} @else {
		@return url($check);
	}
}

@function check-color($check, $shift: false) {
	@if $check == '' {
		@return url('sass/_assets/undefined.jpg') top left;
	} @else if $shift != false {
		@if $shift == 'darken' {
			@return darken($check, $color-shift);
		}
		@if $shift == 'lighten' {
			@return lighten($check, $color-shift);
		}
		@if $shift == 'saturate' {
			@return saturate($check, $color-shift);
		}
		@if $shift == 'desaturate' {
			@return desaturate($check, $color-shift);
		}
		@if $shift == 'tint' {
			@return tint($check, $color-shift);
		}
		@if $shift == 'shade' {
			@return shade($check, $color-shift);
		}
	} @else {
		@return $check;
	}
}

@mixin block-layout {
	position: relative;
	margin: 5px 0;
	border: 1px solid #aaa;
}

@mixin bg($image) {
	background: #ccc check-bg($image) top left;
}

@mixin color($color, $shift: false) {
	background: check-color($color, $shift);
}

@mixin headers {
	padding: 0 !important;
	margin: 0 !important;
	font-size: 28px !important;
	color: #aaa;
	font-family: $lucida-grande;
	@include letterpress(1)
}

//* {
//	-webkit-box-sizing: border-box;
//	-moz-box-sizing: border-box;
//  box-sizing: border-box;
//}

.wrapper {
	width: 100%;
	padding: 2em 0 !important;

	&.odd {
		background: #e9e9e9;
		@include box-emboss(0.9, 0.1);
	}

	&.even {
		background: #f3f3f3;
		@include box-emboss(0.9, 0.1);
	}

	&.header {
		background: #333;
		padding: 1em 0 !important;
	}
}

.container {
	width: 960px;
	margin: 0 auto;
}

.guide-head-title {
	@include headers;
}

.guide-head {
	display: block;
	border-bottom: 1px solid #aaa;
	@include headers;
}

.guide-section {
	position: relative;

	.label {
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		padding: 5px 0 5px 10px;
		background: black(0.5);
		*background: #666;
		color: #eee;
		font-size: 12px !important;
	}
}

.colors {
	width: 100%;
	margin-top: 30px;

	col {
		width: 12.5%;
		padding: 0;
		margin: 0;
	}

	thead th, tfoot th, tbody th {
		font-size: 12px;
		background: #e9e9e9;
	}

	thead tr, tfoot tr, tbody tr {
		height: 30px;
	}

	thead th, tfoot th, tbody th, tbody td {
		border: 1px solid #aaa;
	}

	.pri {
		&.ori {
			@include color($color-primary);
		}
		&.dark {
			@include color($color-primary, 'darken')
		}
		&.light {
			@include color($color-primary, 'lighten')
		}
		&.sat {
			@include color($color-primary, 'saturate')
		}
		&.desat {
			@include color($color-primary, 'desaturate')
		}
		&.tint {
			@include color($color-primary, 'tint')
		}
		&.shade {
			@include color($color-primary, 'shade')
		}
	}

	.sec {
		&.ori {
			@include color($color-secondary);
		}
		&.dark {
			@include color($color-secondary, 'darken')
		}
		&.light {
			@include color($color-secondary, 'lighten')
		}
		&.sat {
			@include color($color-secondary, 'saturate')
		}
		&.desat {
			@include color($color-secondary, 'desaturate')
		}
		&.tint {
			@include color($color-secondary, 'tint')
		}
		&.shade {
			@include color($color-secondary, 'shade')
		}
	}

	.ter {
		&.ori {
			@include color($color-tertiary);
		}
		&.dark {
			@include color($color-tertiary, 'darken')
		}
		&.light {
			@include color($color-tertiary, 'lighten')
		}
		&.sat {
			@include color($color-tertiary, 'saturate')
		}
		&.desat {
			@include color($color-tertiary, 'desaturate')
		}
		&.tint {
			@include color($color-tertiary, 'tint')
		}
		&.shade {
			@include color($color-tertiary, 'shade')
		}
	}

	.bgcolor {
		&.ori {
			@include color($color-bg);
		}
		&.dark {
			@include color($color-bg, 'darken')
		}
		&.light {
			@include color($color-bg, 'lighten')
		}
		&.sat {
			@include color($color-bg, 'saturate')
		}
		&.desat {
			@include color($color-bg, 'desaturate')
		}
		&.tint {
			@include color($color-bg, 'tint')
		}
		&.shade {
			@include color($color-bg, 'shade')
		}
	}

	.alert {
		&.ori {
			@include color($color-alert);
		}
		&.dark {
			@include color($color-alert, 'darken')
		}
		&.light {
			@include color($color-alert, 'lighten')
		}
		&.sat {
			@include color($color-alert, 'saturate')
		}
		&.desat {
			@include color($color-alert, 'desaturate')
		}
		&.tint {
			@include color($color-alert, 'tint')
		}
		&.shade {
			@include color($color-alert, 'shade')
		}
	}

	.warning {
		&.ori {
			@include color($color-warning);
		}
		&.dark {
			@include color($color-warning, 'darken')
		}
		&.light {
			@include color($color-warning, 'lighten')
		}
		&.sat {
			@include color($color-warning, 'saturate')
		}
		&.desat {
			@include color($color-warning, 'desaturate')
		}
		&.tint {
			@include color($color-warning, 'tint')
		}
		&.shade {
			@include color($color-warning, 'shade')
		}
	}

	.confirm {
		&.ori {
			@include color($color-confirm);
		}
		&.dark {
			@include color($color-confirm, 'darken')
		}
		&.light {
			@include color($color-confirm, 'lighten')
		}
		&.sat {
			@include color($color-confirm, 'saturate')
		}
		&.desat {
			@include color($color-confirm, 'desaturate')
		}
		&.tint {
			@include color($color-confirm, 'tint')
		}
		&.shade {
			@include color($color-confirm, 'shade')
		}
	}
}

.bg {
	display: block;
	@include block-layout;
	@include size(100% 120px);

	&.first {
		@include bg($bg-primary);
	}
	&.second {
		@include bg($bg-secondary);
	}
	&.third {
		@include bg($bg-tertiary);
	}
}

.font {
	font-size: em($type-h4);

	&.normal {
		@include font-normal;
	}
	&.bold {
		@include font-bold;
	}
	&.italic {
		@include font-italic;
	}
	&.monospace {
		@include font-mono;
	}
}