@import "bourbon"; // Bourbon framework for Sass

@import "../common/css/sass/base/config"; // Default site-wide variables and mixins, must set to control theme
@import "../common/css/sass/base/functions"; // Default site-wide variables and mixins, must set to control theme

@function check-bg($check) {
	@if $check == '' {
		@return url('_assets/undefined.jpg');
	} @else {
		@return url($check);
	}
}

@function check-color($check, $shift: false) {
	@if $check == '' {
		@return #000 url('_assets/undefined.jpg') top left;
	} @else if $shift != false {
		@if $shift == 'darken' {
			@return darken($check, $color-shift);
		}
		@if $shift == 'lighten' {
			@return lighten($check, $color-shift);
		}
		@if $shift == 'saturate' {
			@return saturate($check, $color-shift);
		}
		@if $shift == 'desaturate' {
			@return desaturate($check, $color-shift);
		}
		@if $shift == 'tint' {
			@return tint($check, $color-shift);
		}
		@if $shift == 'shade' {
			@return shade($check, $color-shift);
		}
	} @else {
		@return $check;
	}
}

@mixin bg($image) {
	background: #ccc check-bg($image) top left;
}

@mixin color($color, $shift: false) {
	background: check-color($color, $shift);
}

@mixin block-layout {
	position: relative;
	margin: 5px 0;
	border: 1px solid #aaa;
}

body {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.styleguide {

	.hidden {
		display: none;
	}

	&.container {
	position: absolute;
	top: 0;
	bottom: 0;
	overflow: auto;
	padding: 40px 30px;

		&.left {
			width: 320px;
			border-right: 1px solid #ccc;
		}

		&.right {
			right: 0;
			left: 380px;
		}

		.guide-head-title, .guide-head {
			margin: 0 0 40px 0;
			font-size: 32px;
			font-family: "Helvetica Neue", Helvetica, Verdana, sans-serif;
			line-height: 1;
		}

		.guide-head-title {
			color: #444;
		}

		.guide-head, .guide-subhead {
			color: #ccc;
		}

		.guide-subhead {
			font-size: 24px;
		}

		.guide-navigation {
			padding: 0;
			list-style-type: none;
			font-size: 16px;
			font-family: "Helvetica Neue", Helvetica, Verdana, sans-serif;
			line-height: 1;

			ul, li {
				font-size: 16px;
			}

			li {
				margin-bottom: 10px;
				font-weight: bold;
			}

			ul li {
				list-style-type: none;
				font-weight: normal;
				font-size: 13px;
			}

			a {
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.guide-section {
			position: relative;

			.label {
				position: absolute;
				right: 0;
				bottom: 0;
				left: 0;
				display: block;
				padding: 5px 0 5px 10px;
				background: black(0.5);
				color: #eee;
				font-size: 12px !important;
				font-family: "Helvetica Neue", Helvetica, Verdana, sans-serif;
				*background: #666;
			}
		}

		.subcontainer {
			border: 1px dashed #ccc;
		}

		.note {
			margin: 0;
			padding: 0;
			font-family: "Helvetica Neue", Helvetica, Verdana, sans-serif;
			line-height: 1;
		}

		.code {
			font-size: 14px;
			@include font-mono;
		}

		.markup {
			padding: 40px 0 0 0;
			line-height: 1.4;

			pre, code {
				margin: 0;
				padding: 20px;
				font-size: 13px;
				@include font-mono;
			}

			pre {
				border: 1px solid #ddd;
				background-color: #eee;
			}
		}
	}

	.colors {
	margin-top: 30px;
	line-height: 1;

		col {
			margin: 0;
			padding: 0;
			width: 12.5%;
		}

		thead th, tfoot th, tbody th {
			font-size: 12px;
			font-family: "Helvetica Neue", Helvetica, Verdana, sans-serif;
		}

		//thead tr, tfoot tr, tbody tr {
		//	height: 30px;
		//}

		thead th, tfoot th, tbody th, tbody td {
			position: relative;
			padding: 10px;
		}

		div {
			width: 100px;
			height: 100px;
			border-radius: 50px;
		}

		.colorcode {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -12px;
			margin-left: -40px;
			padding: 5px 0;
			width: 80px;
			border-radius: 5px;
			background: rgba(255,255,255,0.3);
			text-align: center;
			font-family: "Helvetica Neue", Helvetica, Verdana, sans-serif;
		}

		.pri {
			&.ori {
				@include color($color-primary);
			}
			&.dark {
				@include color($color-primary, 'darken');
			}
			&.light {
				@include color($color-primary, 'lighten');
			}
			&.sat {
				@include color($color-primary, 'saturate');
			}
			&.desat {
				@include color($color-primary, 'desaturate');
			}
			&.tint {
				@include color($color-primary, 'tint');
			}
			&.shade {
				@include color($color-primary, 'shade');
			}
		}

		.sec {
			&.ori {
				@include color($color-secondary);
			}
			&.dark {
				@include color($color-secondary, 'darken');
			}
			&.light {
				@include color($color-secondary, 'lighten');
			}
			&.sat {
				@include color($color-secondary, 'saturate');
			}
			&.desat {
				@include color($color-secondary, 'desaturate');
			}
			&.tint {
				@include color($color-secondary, 'tint');
			}
			&.shade {
				@include color($color-secondary, 'shade');
			}
		}

		.ter {
			&.ori {
				@include color($color-tertiary);
			}
			&.dark {
				@include color($color-tertiary, 'darken');
			}
			&.light {
				@include color($color-tertiary, 'lighten');
			}
			&.sat {
				@include color($color-tertiary, 'saturate');
			}
			&.desat {
				@include color($color-tertiary, 'desaturate');
			}
			&.tint {
				@include color($color-tertiary, 'tint');
			}
			&.shade {
				@include color($color-tertiary, 'shade');
			}
		}

		.bgcolor {
			&.ori {
				@include color($color-bg);
			}
			&.dark {
				@include color($color-bg, 'darken');
			}
			&.light {
				@include color($color-bg, 'lighten');
			}
			&.sat {
				@include color($color-bg, 'saturate');
			}
			&.desat {
				@include color($color-bg, 'desaturate');
			}
			&.tint {
				@include color($color-bg, 'tint');
			}
			&.shade {
				@include color($color-bg, 'shade');
			}
		}

		.alert {
			&.ori {
				@include color($color-alert);
			}
			&.dark {
				@include color($color-alert, 'darken');
			}
			&.light {
				@include color($color-alert, 'lighten');
			}
			&.sat {
				@include color($color-alert, 'saturate');
			}
			&.desat {
				@include color($color-alert, 'desaturate');
			}
			&.tint {
				@include color($color-alert, 'tint');
			}
			&.shade {
				@include color($color-alert, 'shade');
			}
		}

		.warning {
			&.ori {
				@include color($color-warning);
			}
			&.dark {
				@include color($color-warning, 'darken');
			}
			&.light {
				@include color($color-warning, 'lighten');
			}
			&.sat {
				@include color($color-warning, 'saturate');
			}
			&.desat {
				@include color($color-warning, 'desaturate');
			}
			&.tint {
				@include color($color-warning, 'tint');
			}
			&.shade {
				@include color($color-warning, 'shade');
			}
		}

		.confirm {
			&.ori {
				@include color($color-confirm);
			}
			&.dark {
				@include color($color-confirm, 'darken');
			}
			&.light {
				@include color($color-confirm, 'lighten');
			}
			&.sat {
				@include color($color-confirm, 'saturate');
			}
			&.desat {
				@include color($color-confirm, 'desaturate');
			}
			&.tint {
				@include color($color-confirm, 'tint');
			}
			&.shade {
				@include color($color-confirm, 'shade');
			}
		}
	}

	.bg {
		@include block-layout;
		@include size(100% 120px);
		display: block;
		line-height: 1;

		&.first {
			@include bg($bg-primary);
		}
		&.second {
			@include bg($bg-secondary);
		}
		&.third {
			@include bg($bg-tertiary);
		}
	}

	.font {
		font-size: em($type-h4);

		&.normal {
			@include font-normal;
		}
		&.bold {
			@include font-bold;
		}
		&.italic {
			@include font-italic;
		}
		&.monospace {
			@include font-mono;
		}
	}

	#fontstacks {

		p {
			margin: 10px 0 20px 0;
		}

		dd {
			margin-bottom: 40px;
		}
	}

	#colours {

		table {
			width: auto;
			border: 0;
		}

		tbody tr {
			border: 0;
		}
	}

}